@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 590;
    font-size: 16px;
    color: white;
    text-decoration: none;
    
}

header{
    background: rgb(22,56,2);
    background: linear-gradient(90deg, rgba(22,56,2,1) 0%, rgba(169,221,53,1) 77%, rgba(243,246,114,1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    position: sticky;
    height: 100px;
    box-shadow: 2px;
}

.general-nav{
    background: rgb(22,56,2);
    background: linear-gradient(90deg, rgb(96, 177, 50) 0%, rgb(140, 155, 110) 77%, rgb(241, 241, 235) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    /* position: sticky; */
    height: 50px;
    top:100px;
    box-shadow: 2px;
}

.logo{
    list-style: none;
    width: 6.5%;
    margin-right: auto;
    z-index: 1;
    backface-visibility: visible;
   
}

.nav-links{
    list-style: none;
    right: 150px;
    position: absolute;

}

.general-nav-links{
    list-style: none;
    left: 50px;
    position: absolute;
}

.general-nav-links li{
    display: inline-block;
    padding: 0px 5px;
    color:rgb(230, 224, 236);
    /* margin-right: 50px; */
}

#general-nav-font{
    color:rgb(230, 224, 236);
}

.nav-links li{
    display: inline-block;
    padding: 0px 10px;
    margin-right: 50px;
}

/* .nav-links li a{
    transition: all 0.3s ease 0s;
} */

#trade-name{
    position: absolute;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-weight: 200;
    left: 20%;
    top:40%;
}

footer{
    position: fixed;
    bottom: 0;
    height:5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    background: rgb(22,56,2);
    background: linear-gradient(90deg, rgba(22,56,2,1) 0%, rgba(169,221,53,1) 77%, rgba(243,246,114,1) 100%);
    

}

#footer{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

#footer li{
    list-style: none;
    padding: 0 20px;
}

#page-container {
    position: relative;
    min-height: 80vh;
    background-color: rgba(230, 250, 222, 0.938);
  }
#page-div{
    background-color: white;
    height: auto;
}
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

.whatsapp-image{
    position: absolute;
    width: 30px;
    right:400px;

}

.twitter-image{
    position: absolute;
    width: 40px;
    right: 250px;
}


.general-nav li{
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    /* color: white; */
    margin-left: 130px;
    padding: 0px 15px;    
}

.general-nav{
    /* background-color: lavender; */
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.content-container{
    color:aliceblue;
    margin-top: 10px;
    margin-left: 130px;
}

#main-img{
    background-image: url("images/main-img.png");
    position: absolute;
    width:100%;
    height: 50vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    justify-content: center;
}

.fe-box{
    display: flex;
    flex-direction: row;
    position: relative;
    top:400px;
    padding-bottom: 2vh;
}
